<template>
  <div class="container">
    <h1 v-if="!isEdit">Add User</h1>
    <h1 v-else>Edit User</h1>
      <b-card>
        <b-form @submit="submit">
          <b-form-group
            id="input-group-1"
            label="Email:"
            label-for="input-1"
            description="We'll never share your email with anyone else."
          >
            <b-form-input
              v-model="email"
              id="input-1"
              type="email"
              placeholder="Enter email"
              required
            ></b-form-input>
          </b-form-group>
          <b-form-group
            id="input-group-1"
            label="Name:"
            label-for="input-2"
            description="Name that display on your Identification document."
          >
            <b-form-input
              v-model="name"
              id="input-2"
              type="text"
              placeholder="Enter name"
              required
            ></b-form-input>
          </b-form-group>
          <b-form-group
            id="input-group-1"
            label="Address:"
            label-for="input-3"
            description="Address that display on your Identification document."
          >
            <b-form-input
              v-model="address"
              id="input-3"
              type="text"
              placeholder="Enter address"
              required
            ></b-form-input>
          </b-form-group>
          <b-form-group
            id="input-group-1"
            label="Mobile No:"
            label-for="input-4"
            description="Mobile number that display on your Identification document."
          >
            <b-form-input
              v-model="mobileNo"
              id="input-4"
              type="number"
              placeholder="Enter mobile number"
              required
            ></b-form-input>
          </b-form-group>
           <b-form-group
            id="input-group-1"
            label="Latitude:"
            label-for="input-5"
            description="Enter your current latitude."
          >
            <b-form-input
              v-model="latitude"
              id="input-5"
              type="text"
              :state="isValidLatitude"
              placeholder="Enter latitude"
              required
            ></b-form-input>
          </b-form-group>
          <b-form-group
            id="input-group-1"
            label="Longitude:"
            label-for="input-6"
            description="Enter your current longitude."
          >
            <b-form-input
              v-model="longitude"
              id="input-6"
              type="text"
              :state="isValidLongitude"
              placeholder="Enter longitude"
              required
            ></b-form-input>
          </b-form-group>
          <b-form-group
          label="Upload Image:"
          label-for="input-7"
          >
            <b-form-file
              id="input-7"
              ref="image"
              state
              accept="image/jpeg, image/png, image/gif"
              placeholder="Choose a file or drop it here..."
              drop-placeholder="Drop file here..."
            ></b-form-file>
          </b-form-group>
          <b-button type="submit" variant="primary" class="mt-4">Submit</b-button>
        </b-form>
      </b-card>
     
  </div>
</template>

<script>
import axiosClient from '@/utils/axiosClient';

export default {
  name: 'AddUser',
  data() {
    return {
        address: '',
        name: '',
        email: '',
        mobileNo: '',
        latitude: '',
        longitude: '',
        imageUrl: null,
        isValidLatitude: null,
        isValidLongitude: null,
        isEdit: this.$route.params.id == undefined ? false : true
    }
  },
  mounted() {
    if (this.isEdit) {
      axiosClient.get('/user/'+this.$route.params.id)
      .then((response) => {
        console.log('response', response);
        this.name = response.data.result.name;
        this.email = response.data.result.email;
        this.mobileNo = response.data.result.mobileNo;
        this.address = response.data.result.address;
        this.latitude = response.data.result.latitude;
        this.longitude = response.data.result.longitude;
      }).catch((error) => {
        console.log('error', error);
      });
    }
  },
  methods:{
    submit(e) {
      e.preventDefault();

      const formData = new FormData();
      if (!this.isEdit && this.$refs.image.files.length === 0) {
        alert('please upload file');
        return;
      } else if (this.$refs.image.files.length > 0) {
        this.imageUrl = this.$refs.image.files[0];
        formData.append('image', this.imageUrl);
      }
      
      formData.append('email', this.email);
      formData.append('name', this.name);
      formData.append('address', this.address);
      formData.append('latitude', this.latitude);
      formData.append('longitude', this.longitude);
      formData.append('mobileNo', this.mobileNo);
      
      if (!this.isEdit) {
        axiosClient.post('/user', formData, {
        }).then((response) => {
          if (response.data.status === 201) {
             this.$router.push("/");
          }
          this.$router.push("/");
        }).catch((error) => {
          console.log('error', error);
        });
      } else {
        axiosClient.put('/user/'+this.$route.params.id, formData, {
        }).then((response) => {
          if (response.data.status === 202) {
             this.$router.push("/");
          }
        }).catch((error) => {
          console.log('error', error);
        });
      }
      
    }
  }
}
</script>