<template>
  <div class="home">
    <b-container>
      <h1 class="text-center">Users List</h1>
      <router-link to="/add-user"><b-button variant="warning">Add User</b-button></router-link>
      <b-table striped hover :fields="fields" :items="items">
        <template #cell(actions)="data">
          <router-link :to="{path: '/edit-user/'+data.item.id}" class="mr-10">
            <b-button variant="info">Edit</b-button>
          </router-link>
          <b-button variant="danger" v-b-modal.modal-1 @click="openModal(data.item.id)">Delete</b-button>
        </template>
        <template #cell(imageUrl)="data">
          <img :src="`${data.item.imageUrl}`" height="100" width="100" />
        </template>
      </b-table>
      <b-modal id="modal-1" title="Delete User" @ok="deleteUser">
        <p class="my-4">Are you sure you want to delete this user???</p>
      </b-modal>
    </b-container>
  </div>
</template>

<script>
import axiosClient from '@/utils/axiosClient';

export default {
  name: 'Users',
   data() {
      return {
        fields:[
          {
            key:'id',
            label: 'Index'
          },
          {
            key:'name',
            label: 'Name'
          },
          {
            key:'mobileNo',
            label: 'Mobile Number'
          },
          {
            key: 'email',
            label: 'Email'
          },
          {
            key:'address',
            label: 'Address'
          },
          {
            key:'latitude',
            label: 'Latitude'
          },
          {
            key: 'longitude',
            label: 'Longitude'
          },
          {
            key: 'imageUrl',
            label: 'Image'
          },
          {
            key: 'actions',
            label: 'Actions'
          }
        ],
        items: [
        ],
        openModalId: null,
      }
    },

    mounted() {
      axiosClient.get('/user')
      .then((response) => {
        this.items = response.data.result;
      })
    },
    methods:{
      openModal(id) {
        this.openModalId = id;
      },
      cancel() {
        this.openModalId = null;
      },
      deleteUser() {
        axiosClient.delete('/user/'+this.openModalId)
        .then((response) => {
          if(response.data.status === 200) {
            this.cancel();
            this.$router.go();
          }
        })
        .catch((error) => {
          console.log('error', error);
        });
        
      }
    }
}
</script>

<style>
.mr-10 {
  margin-right: 10px;
}
</style>